{% extends "base.html" %}

{% block hero %}

{% endblock %}

{% block content %}

  <main class="py-4">
    <div class="container">
        <h1 class="h3 mb-3">Create or Update an Event</h1>
        <form method="POST" enctype="multipart/form-data" class="row g-3">
            {{ form.hidden_tag() }}

            <div class="col-12">
                {{ form.eName.label(class="form-label") }}
                {{ form.eName(class="form-control", placeholder="e.g., Titans vs Hurricanes") }}
            </div>

            <div class="col-12">
                {{ form.eDesc.label(class="form-label") }}
                {{ form.eDesc(class="form-control", rows="4", placeholder="Brief description") }}
            </div>

            <div class="col-md-6">
                {{ form.eCategory.label(class="form-label") }}
                {{ form.eCategory(class="form-select") }}
            </div>

            <div class="col-md-6">
                {{ form.eVenue.label(class="form-label") }}
                {{ form.eVenue(class="form-control", placeholder="e.g., Aurora Park Stadium") }}
            </div>

            <div class="col-md-4">
                {{ form.eDate.label(class="form-label") }}
                {{ form.eDate(class="form-control") }}
            </div>

            <div class="col-md-4">
                {{ form.eStart.label(class="form-label") }}
                {{ form.eStart(class="form-control") }}
            </div>

            <div class="col-md-4">
                {{ form.eEnd.label(class="form-label") }}
                {{ form.eEnd(class="form-control") }}
            </div>

            <div class="col-md-6">
                {{ form.eTickets.label(class="form-label") }}
                {{ form.eTickets(class="form-control", placeholder="e.g., 500") }}
            </div>  

            <div class="col-12">
                {{ form.eImageFile.label(class="form-label") }}
                {{ form.eImageFile(class="form-control") }}
            </div>

            <div class="col-12">
                {{ form.submit(class="btn btn-primary") }}
                <a class="btn btn-outline-secondary" href="{{ url_for('main.index') }}">Cancel</a>
            </div>
        </form>
    </div>
</main>

   {% endblock %}
