{% extends "base.html" %}

{% block hero %}

{% endblock %}

{% block content %}

  <main class="py-4">
    <div class="container">
      <h1 class="h3 mb-3">Create or Update an Event</h1>
      <form class="row g-3">
        <div class="col-12">
          <label class="form-label" for="eName">Event name</label>
          <input id="eName" class="form-control" placeholder="e.g., Titans vs Hurricanes">
        </div>

        <div class="col-12">
          <label class="form-label" for="eDesc">Description</label>
          <textarea id="eDesc" class="form-control" rows="4" placeholder="Brief description"></textarea>
        </div>

        <div class="col-md-6">
          <label class="form-label" for="eCategory">Category</label>
          <select id="eCategory" class="form-select">
            <option>Football</option>
            <option>Rugby</option>
            <option>Cricket</option>
            <option>Concert</option>
          </select>
        </div>

        <div class="col-md-6">
          <label class="form-label" for="eVenue">Venue</label>
          <input id="eVenue" class="form-control" placeholder="e.g., Aurora Park Stadium">
        </div>

        <div class="col-md-4">
          <label class="form-label" for="eDate">Date</label>
          <input type="date" id="eDate" class="form-control">
        </div>

        <div class="col-md-4">
          <label class="form-label" for="eStart">Start time</label>
          <input type="time" id="eStart" class="form-control">
        </div>

        <div class="col-md-4">
          <label class="form-label" for="eEnd">End time</label>
          <input type="time" id="eEnd" class="form-control">
        </div>

        <div class="col-md-6">
          <label class="form-label" for="eTickets">Tickets available</label>
          <input type="number" min="1" id="eTickets" class="form-control" placeholder="e.g., 500">
        </div>

        <div class="col-md-6">
          <label class="form-label" for="eImageUrl">Image URL</label>
          <input type="url" id="eImageUrl" class="form-control" placeholder="https://...">
        </div>

        <div class="col-12">
          <label for="eImageFile" class="form-label">Upload image (optional)</label>
          <input class="form-control" type="file" id="eImageFile" accept="image/*">
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="button">Save Event</button>
          <a class="btn btn-outline-secondary" href="{{ url_for('main.index')}}">Cancel</a>
        </div>
      </form>
    </div>
  </main>

   {% endblock %}
